#container {
    display: flex;
    margin: 100px;
}

#keys {
    margin-left: 60px;
    display: flex;
    align-items: end;
    padding-bottom: 40px;
}

#cancel {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: thick;
    border-color: black;
    width: 300px;
    height: 300px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#screen {
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 235px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    height: 50px;
}

#pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    width: 250px;
    justify-items: center;
    padding: 0;
}

.pad-button {
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

